.section2
	background-color: #fafafa

	.container
		padding-top: 7%
		padding-bottom: 7%

	.title
		color: #4a4a4a
		font-size: 24px
		font-weight: bold
		text-align: center

	.description
		color: #9b9b9b
		font-size: 14px
		line-height: 1.43

	@media screen and (max-width: $md)
		.title
			font-size: 18px
