.section3
	height: 629px
	width: 1110px

	.title
		color: #000000
		font-size: 28px
		font-weight: bold
		margin: auto

	.description
		color: #000000
		font-size: 14px
		margin: auto
		opacity: 0.7

	.name
		color: #4a4a4a
		font-size: 14px
		font-weight: bold
		text-align: center
		width: 310px

	.position
		color: #9b9b9b
		font-size: 14px
		text-align: center
		width: 310px

	img
		padding-bottom: 20px
