@import "bootstrap"
@import "font-awesome"
@import "variables"
@import "common"
@import "section1"
@import "section2"
@import "section3"
@import "section4"
@import "section5"

.navbar
	position: absolute
	width: 100%
	z-index: 1

.bg-dark
	background-color: rgba(0, 0, 0, 0.9) !important

.nav-link
	font-size: 16px
	color: #ffffff !important

.nav-item
	margin-left: 15px

.search
	margin: auto

.line
	width: 2px
	background-color: rgba(255, 255, 255, 0.5)

.dropdown-menu
	background-color: rgba(0, 0, 0, 0.9)
	border: none
	border-radius: 0
	a
		color: rgba(255, 255, 255, 0.8)

.tint
	position: relative

	&::before
		background-color: rgba(0, 0, 0, 0.5)
		display: block
		content: ""
		position: absolute
		top: 0
		bottom: 0
		left: 0
		right: 0
	.content
		padding-top: 17%
		position: absolute
		padding-left: 11.5%
		.title
			color: #ffffff
			display: block
			font-size: 47px
			font-weight: bold
		.description
			color: #ffffff
			display: block
			font-size: 14px
			line-height: 1.43
			width: 540px
@media screen and (max-width: 990px)
	.search
		display: none

	.line
		display: none

@media screen and (max-width: $md)
	.tint
		.content
			padding-top: 15%
			padding-left: 3%

			.title
				font-size: 28px

			.description
				font-size: 14px

	@media screen and (max-width: 610px)
		.description
			width: auto !important

@media screen and (max-width: $sm)
	.navbar
		position: relative

	.bg-dark
		background-color: #8d3c45 !important

	.dropdown-menu
		background-color: #8d3c45
		border: none
		border-radius: 0
		a
			font-size: 14px

	.tint
		.content
			padding-top: 40px
			margin-left: 20px

			.title
				font-size: 24px

			.description
				display: none
